<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="jesicagu">
    <title>Bible | Inverted Index</title>
    <!-- Bootstrap core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-reboot.min.css"/>

</head>

<body>
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/">The Holy Bible</a>
        <form class="form-inline">
            <a href="/"><button class="btn btn-sm btn-outline-light" style="width: 100px;">Home</button></a>
        </form>
    </nav><br>

    <div class="container">
        <div class="container center text-center">
            <h2><small><b>Bible's Verses in Various Versions using Inverted Indexing</b></small></h2>
            <p class="lead">Choose the version of the Bible to do searching</p><hr>
        </div>
        <div class="card bg-light text-dark">
            <div class="card-body text-center">
{#                <h5><small><b>Search in Bible : </b></small></h5>#}
                <div class="btn-group btn-group-justified">
                    <a href="ASV/"><button type="button" class="btn btn-outline-secondary" style="width: 300px;">
                        ASV (American Standard Version)
                    </button></a>
                </div><br><br>
                <div class="btn-group">
                    <a href="KJV/"><button class="btn btn-outline-secondary" style="width: 300px;">
                        KJV (King James Version)
                    </button></a>
                </div><br><br>
                <div class="btn-group">
                    <a href="MKJV/"><button class="btn btn-outline-secondary" style="width: 300px;">
                        MKJV (Modern King James Version)
                    </button></a>
                </div><br><br>
                <div class="btn-group">
                    <a href="NHEB/"><button class="btn btn-outline-secondary" style="width: 300px;">
                        NHEB (New Heart English Bible)
                    </button></a>
                </div><br><br>
                <div class="btn-group">
                    <a href="RSV/"><button class="btn btn-outline-secondary" style="width: 300px;">
                        RSV (Revised Standard Version)
                    </button></a>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar fixed-bottom navbar-light bg-light">
        <span class="navbar-text">
            <b>&copy; Information Retrieval - Kelompok 5 | 2019</b>
        </span>
    </nav>
</body>

</html>